<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kenneli</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tässä listattuna koirat kennelistä <span th:text="${kenneli.getNimi()}">kennelin nimi</span></h1>

        <ol>
            <li th:each="koira: ${koirat}">
                <a th:href="${'/kenneli/' + kenneli.getId() +'/' + koira.getId()}"><span th:text="${koira.getNimi()}">koiran nimi</span></a>
                
            </li>
        </ol>
        <h3>Lisää koira</h3>
        <form th:action="${'/kenneli/' + kenneli.getId()}" method='post'> 
             <input placeholder='Nimi' type='text' name='nimi'/> <br/>
             <input placeholder='Rotu' type='text' name='rotu'/> <br/>
             <input placeholder='Omistaja' type='text' name='omistaja'/> <br/>
             <input placeholder='YYYY-MM-DD' type='text' name='syntymaaika'/> <br/>
            <button type='submit'>Lisää koira</button>
        </form>
    </body>
</html>