<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kenneli</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tässä listattuna kennelin koirat</h1>

        <ol>
            <li th:each="koira: ${koirat}">
                <a th:href="${'/kenneli/' + kenneli.id +'/' + koira.id}"><span th:text="${koira.nimi}">koiran nimi</span></a>
                <p>Sit jokaisesta koiran nimestä pitäisi voida painaa että pääsee koiran omalle sivulle</p>
            </li>
        </ol>
    </body>
</html>