<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title> Koiran sivun otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Hei <span th:text="${koira.nimi}">koira</span>!</h1>

        <p>Olet saapunut koiran <span th:text="${koira.nimi}">koira</span> tietosivulle.</p>
        <p>Sit tähän koiran syntymäaika ja omistaja sekä koiranäyttelysijoitukset</p>
    </body>
</html>
